body {
    background: linear-gradient(rgb(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/image-two.jpg');
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 100%;
    height: 100vh;
}

.container div {
    position: relative;
    width: 100%;
    height: 100vh;
}

.container div.content {
    color: #f1f1f1;
    text-align: center;
    font-size: 32px;
    line-height: 180%;
    margin-top: 18%;
}

p {
    font-size: 28px;
}

button {
    width: 200px;
    height: 80px;
    font-size: 28px;
    cursor: pointer;
    background-color: rgb(8, 6, 6);
    color: rgb(223, 205, 205);
    border-radius: 40px;
}

button:hover {
    background-color: rgb(223, 205, 205);
    color: rgb(8, 6, 6);
    border-color: rgb(223, 205, 205);
}